{% extends 'base_components/base.html' %}
{% load components %}

{% block title_block %}
    {{user.username}}
{% endblock %}

{% block body_block %}
  <div class="h-full min-h-screen pt-28 p-8 bg-yellow-500 flex flex-col items-center space-y-10">

    {% Message condition=user_account div_css=" flex flex-row justify-center items-center w-full" msg_css="bg-white" msg="The user you are looking for does not exist."%}
      <!-- Account details -->
      <div class="w-full flex flex-row justify-around items-stretch">
        {% Card_parent css="w-4/12 text-lg" title="Profile Image"%}
          <div class="flex flex-col justify-items-center">
              <h1>Show image pic</h1>
          </div>
        {% /Card_parent %}
        {% Card_parent css="w-7/12 text-lg" title="Account details"%}
          <div class="flex flex-col justify-center">
              <div class="flex flex-row items-center">
                  <label>Username: </label>
                  <h1 class="px-4">{{ user.username }}</h1>
              </div>
              <div class="flex flex-row items-center">
                <label>Email: </label>
                <h1 class="px-4">{{ user.email }}</h1>
              </div>

          </div>
        {% /Card_parent %}
      </div>

    <!-- Study groups -->
    <div class="w-full text-base p-4 px-6 bg-white shadow-xl rounded-xl flex flex-col items-center space-y-4">
      <!-- Navbar -->
      <div class="text-lg w-full flex flex-row justify-between items-center p-1 text-center border-b-4 border-black">
        <h1 class="p-2 font-bold">Your study groups</h1>
        <button class="p-1 px-2 text-lg rounded-lg border-2 bg-white border-green-600 font-bold text-green-600 hover:text-white hover:bg-green-600">Create group</button>
      </div>
     
      {% Message condition=groups msg="You have not joined any group yet!"%}
        <div class="w-full px-8">
          {% for group in groups%}
            <div class="p-2 border-2 rounded-lg border-gray-200 flex flex-row justify-between items-center shadow-md">
              <a href="{% url 'notes:show_group' group.slug %}" class=" px-8 mr-2 hover:text-white hover:bg-blue-500 p-2 font-bold rounded-lg ">{{group.groupName}}</a>
              {% if group.admin == user.username %}
                <button class="p-2 px-3 text-base rounded-lg border-2 bg-white border-red-500 font-bold text-red-500 hover:text-white hover:bg-red-500 hover:border-white">Delete</button>
              {% else %}
                <button class="p-2 px-3 text-base rounded-lg border-2 bg-white border-red-500 font-bold text-red-500 hover:text-white hover:bg-red-500 hover:border-white">Leave</button>
              {% endif %}
            </div>
          {% endfor%} 
        </div>
      {% /Message %}
    </div>
    {% /Message %}
    
  </div>
{% endblock %}