{% extends 'base_components/base.html' %}
{% load components %}

{% block title_block %}
    FAQs
{% endblock %}

{% block body_block %}
  <div class="h-full min-h-screen pt-28 p-8 bg-yellow-500 flex flex-col items-center space-y-10">

    {% Card_parent css="w-5/6 text-xl" title="About"%}
      <p class="text-base">The objective of the web application is to give students a platform to share their notes between a study group. 
        <br>
        Users can create a study group that others can visit.
        <br>
        Within the study groups, users can post notes related to the subject in the form of images or documents. 
        <br>
        Users can also view what other users have posted. Others can rate and comment on the notes as a way of giving feedback or approval.
      </p>
    {% /Card_parent %}


    {% Card_parent css="w-5/6 text-xl" title="FAQs"%}

      {% Card_child title="Should I create an account?"%}      
        <p class="text-base">Yes.</p>
      {% /Card_child %}
    
      {% Card_child title="Lorem ipsum dolor sit amet, cu idque homero perfecto vis?"%}      
        <p class="text-base">
          Lorem ipsum dolor sit amet, iudico eripuit ei qui, eu aeque blandit democritum duo.
          <br>
          Impedit tibique no eos, pro nullam.
        </p>
      {% /Card_child %}
      
    {% /Card_parent %}
    
  </div>
{% endblock %}