{% extends 'base_components/base.html' %}

{% block title_block %}
    Search
{% endblock %}

{% block body_block %}
  <div class="pt-24 p-8 bg-yellow-500">
    <!-- Displays categories and studyGroups -->
    <div class="flex flex-col items-center space-y-6 ">
      {% if categories %}

          {% for cat in categories %}
            <div class=" w-5/6 rounded-lg pb-2 space-y-2 shadow-lg bg-white">
              <!-- categories -->
              <div class="p-2 rounded-lg border-black border-b-2 bg-white ">
                <h1 class=" px-4 font-extrabold text-xl text-black">{{ cat.categoryName }}</h1>
              </div>
              <!-- studyGroups -->
              <div class="flex flex-col items-center justify-center space-y-1 bg-white">
                {% if groups|getItem:cat.categoryName %}
                  {% for group in groups|getItem:cat.categoryName %}
                      <div class="p-2 w-5/6 rounded-lg bg-yellow-400 border-black border-2">
                        <h1 class=" px-4 font-semibold text-xl">{{ group.groupName }}</h1>
                      </div>
                  {% endfor %}
                  {% else %}
                      <h1 class="text-xl border-black border-2 p-2 rounded-lg">No study group created.</h1>
                  {% endif %}
              </div>
              
            </div>
          {% endfor %}
        
      {% else %}
        <h1>No search results</h1>
      {% endif %}
    </div>
  </div>
{% endblock %}