{% extends 'base_components/base.html' %}
{% load components %}

{% block title_block %}
  {% if group %}
    {{ group.groupName }}
  {% else %}
    Unknown study group
  {% endif %}
{% endblock %}

{% block body_block %}
  <div class=" h-full min-h-screen w-full bg-yellow-500 flex flex-row">
    {% if group %}
    <!-- Main -->
    <div class="pt-24 p-8 w-3/4 flex flex-col justify-items-center space-y-4">
      <!-- NavBar -->
      <div class="flex flex-row justify-between items-center rounded-lg p-2">
        <a class=" border-white border-2 p-2 rounded-lg text-base text-white font-bold
         hover:text-yellow-500 hover:bg-white"
         href="{% url 'notes:search' %}">Back</a>
        <h1 class="p-2 text-center w-1/2 border-b-4 border-white text-white text-xl font-bold">{{ group.groupName }}</h1>
        <button class="p-2 px-3 text-base rounded-lg border-2 bg-white border-red-500 font-bold text-red-500 hover:text-white hover:bg-red-500 hover:border-white">Leave</button>
      </div>

      <!-- Meeting details -->
      <div class=" p-2 px-4 flex flex-col justify-center bg-white rounded-lg shadow-lg">
        <h1 class="w-full text-lg font-bold">Meeting links</h1>
        <div class="px-8 p-2 flex flex-row space-x-4 rounded-lg bg-white">
          {% for url in urls %}
          <a href='{{ url.link }}' target="_blank" class="text-center border-blue-500 border-b-2 font-semibold text-blue-500">{{ url.label }}</a>
          {% endfor %}
        </div>
      </div>

      <!-- Notes -->
      <div class="p-2 px-4 flex flex-col justify-center items-center bg-white rounded-lg shadow-lg">
        <!-- Notes Navbar -->
        <div class= "flex flex-row justify-between items-center w-full ">
          <h1 class="w-full text-lg font-bold">Notes</h1>
          <button class="p-1 px-2 text-base rounded-lg border-2 bg-white border-green-600 font-bold text-green-600 hover:text-white hover:bg-green-600">Upload</button>
        </div>

        {% if notes %}
          <div class="w-full p-4 px-8 flex flex-col space-y-4">
            {% for note in notes %}
              <!-- File -->
              <div class="flex flex-col rounded-lg border-black border-2">
                <!-- File Navbar -->
                <div class="border-black border-b-2 p-2 px-4 rounded-b-lg ">
                  <h1 class="text-blue-800 font-bold">{{note.noteName}}</h1>
                </div>
                <!-- File body -->
                <div class="p-2 px-4 text-sm space-y-4">
                  <!-- Details Navbar -->
                  <div class="flex flex-row justify-between px-8">
                    <div class="flex flex-row items-center justify-center">
                      <label class="pr-2">Uploaded by:</label>
                      <h1 class="font-semibold">{{ note.user }}</h1>
                    </div>
                    <hi>{{ note.date }}</hi>
                  </div>
                  <!-- description -->
                  <div class="space-y-2">
                    <h1 class=" text-base font-semibold w-full border-black border-b-2">Description</h1>
                    <p>{{ note.description }}</p>    
                  </div>
                  <!-- Comments -->
                  <div class="flex flex-col space-y-4 justify-center">
                    <h1 class="text-base font-semibold w-full border-black border-b-2">Comments</h1>
                    {% for comment in comments|getItem:note.noteName %}
                      <div class="px-4 space-y-2">
                        <div class="w-min">
                        {% Card_user css="p-1 px-2 text-sm" user=comment.user%}{% /Card_user %} 
                        </div>
                        <p class="px-4">{{ comment.text }}</p>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              
            {% endfor %}
          </div>
        {% else %}
          <div class="p-2">
            <h1 class="text-base text-center border-black border-2 p-1 px-2 rounded-lg">No notes have been uploaded yet.<br> Be the first!</h1>
          </div>
        {% endif %}
      </div>

      <!-- Members -->
      <div class=" flex flex-col justify-center bg-white rounded-lg shadow-lg">
        <h1 class="p-2 pl-4 w-full text-lg font-bold">Members</h1>
        <div class="px-8 pt-2 p-4 flex flex-row space-x-4 rounded-lg bg-white">
          {% for member in members %}
            {% Card_user css="p-2 shadow-md" user=member%}{% /Card_user %}    
          {% endfor %}
        </div>
      </div>

    </div>
    <!-- Sidebar -->
    <div class="pt-24 p-8 w-1/4 bg-yellow-400 space-y-4">
      <!-- group Description -->
      
      {% Card_parent title="Description"%}
        {% if group.description %}     
          <p class="text-sm">{{ group.description }}</p>
        {% else %}
          <h1 class="text-base text-center border-black border-2 p-1 px-2 rounded-lg">No description available</h1>
        {% endif %}
      {% /Card_parent %}

      {% Card_parent title="Rules"%}
        {% if group.rules %}     
          <p class="text-sm">{{ group.rules }}</p>
        {% else %}
          <h1 class="text-base text-center border-black border-2 p-1 px-2 rounded-lg">This group has no rules!</h1>
        {% endif %}
      {% /Card_parent %}

    </div>
    {% else %} 
    <div class="pt-24 p-8 flex flex-row justify-center items-center w-full">
      <h1 class="p-2 text-lg bg-white border-black border-2 rounded-lg text-black font-bold text-center">The group you are looking for does not exist.</h1> 
    </div>
    {% endif %}
  </div>
{% endblock %}

