{% load static %}
{% load active_link_tags %}
{% load components %}


<!DOCTYPE html> 
<html>
  <head lang="en">
    <meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		
    <title> 
        OurNotes - 
        {% block title_block %}
        Welcome!
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <div class="fixed w-full bg-white flex-wrap flex items-center justify-between px-10 shadow-lg">
      <div>𝓞𝓾𝓻𝓝𝓸𝓽𝓮𝓼</div>
      <div class="w-1/3 flex-wrap flex items-center justify-between space-x-5 font-bold">

        {% Nav_link link="notes:search" link_name="Search" %}{% /Nav_link %}
        {% Nav_link link="notes:faq" link_name="FAQs" %}{% /Nav_link %}
        
        <button class="bg-blue-500 p-2 px-3 text-white font-bold hover:bg-blue-800">Sign up</button>
      </div>
      
    </div>
    <div>
      {% block body_block %}
      {% endblock %}
    </div>
  </body>
</html>