{% load static %}
{% load active_link_tags %}
{% load components %}


<!DOCTYPE html> 
<html>
  <head lang="en">
    <meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		
    <title> 
        OurNotes - 
        {% block title_block %}
        Welcome!
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <script src="{% static 'js/jquery-3.3.1.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js/notes-jquery.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js/notes-ajax.js' %}" crossorigin="anonymous"></script>

  </head>
  <body>
    <!-- Navbar -->
    <div class="fixed w-full bg-white flex flex-wrap md:flex-row items-center justify-around md:justify-between space-x-2 md:space-x-0 px-4 md:px-10 shadow-lg">
      <div class="p-2">𝓞𝓾𝓻𝓝𝓸𝓽𝓮𝓼</div>
      <div class="h-full flex flex-row items-center justify-between space-x-4 md:space-x-16 font-bold">

        {% Nav_link link="notes:search" link_name="Search" %}{% /Nav_link %}
        {% Nav_link link="notes:faq" link_name="FAQs" %}{% /Nav_link %} 

        {% if user.is_authenticated %}
          <div  id="dropdown" class="relative">
            <button id="btn_dropdown" class="relative z-20 text-base rounded-full border-white border-2 focus:outline-none text-white font-semibold hover:border-white" 
              onclick="toggle_account_dropdown()">
              {% Card_user user=user%}{% /Card_user %} 
            </button>
            
            <div id="account_dropdown" class="absolute z-20 hidden right-0 w-40 mt-2 bg-white rounded-lg flex-col justify-center items-center shadow-xl">
              <a href="{% url 'notes:account' user.username %}" class="w-full rounded-t-lg pb-2 pt-2 px-4 font-bold hover:text-white hover:bg-blue-500 text-center">Account</a>
              <a href="{% url 'notes:logout' %}" class="w-full rounded-b-lg pt-2 pb-2 px-4 text-center font-bold text-red-500 hover:text-white hover:bg-red-500">Logout</a>
            </div>
          </div>      
        {% else %}
          <a href="{% url 'notes:register' %}" class="p-2 px-3 rounded-lg border-2 border-blue-500 font-bold text-blue-500 hover:text-white hover:bg-blue-500">Sign up</a>
        {% endif %}
      </div>
    </div>

    <!-- Page body -->
    <div>
      {% block body_block %}
      {% endblock %}
    </div>
  </body>
</html>