<div class="flex flex-row items-center justify-between rounded-full bg-blue-500 {{css}} ">

    {% if user|getImage %}
        <img src="{{ user|getImage }}" class="object-cover h-10 w-10 rounded-full" 
            alt="{{ user.username }}'s profile image" />
    {% else %}
        <img src="/uploads/user_default.png" class="object-cover h-10 w-10 rounded-full" 
        alt="{{ user.username }}'s profile image" />
    {% endif %}
    
    <!-- default="/uploads/user_default.png" -->
    <h1 class="pl-1 pr-3 text-white font-semibold">{{user.username}}</h1>
</div>