{% extends 'base_components/base.html' %}
{% load components %}

{% block title_block %} 
    Login/Register
{% endblock %}

{% block body_block %}
    <div class="h-full min-h-screen pt-24 p-8 bg-yellow-500 flex flex-row justify-around">

        {% if registered %}
            <div class="flex flex-row justify-center items-center w-full">
                <div class="p-8 pb-6 bg-white flex flex-col shadow-lg items-center space-y-2 rounded-lg ">
                    <h1 class="font-semibold text-center">Thank you for registering!</h1>
                    <a href="{% url 'notes:search' %}" class="border-blue-500 border-b-2 text-blue-500">Return to the homepage</a><br />
                </div>
            </div>
        {% else %}
            {% Card_parent css="w-5/12 text-xl p-2" title="Register"%}
                    <!-- 16 enctype="multipart/form-data used to upload the image -->
                    <form id="user_form" method="post" action="{% url 'notes:register' %}" 16 enctype="multipart/form-data">
                    
                        {% csrf_token %}

                        <!-- Display form fields-->
                        <div class="pt-6 text-base flex flex-col items-center space-y-4">
                            {% Register_field errors=form.username.errors field=form.username %}{% /Register_field %}
                            {% Register_field errors=form.email.errors field=form.email %}{% /Register_field %}
                            {% Register_field errors=form.password.errors field=form.password %}{% /Register_field %}

                            {{ form_profile.profileImg.errors }}
                            <div class="w-full border-black rounded-lg border-2 p-2 text-black">
                                <label class="px-2 font-semibold">Profile picture:</label>
                                {{ form_profile.profileImg }}</div>

                            <!-- Provide a button to click to submit the form. -->
                            <div class="pt-6">
                                <input class="p-2 bg-blue-500 text-base text-white font-bold rounded-lg "
                                type="submit" name="submit" value="Register"/>
                            </div>
                            
                        </div>
                    </form>
            {% /Card_parent %}

            <div class="border-white border-2"></div>

            {% Card_parent css="w-5/12 text-xl p-2" title="Sign-in"%}
                <form id="login_form" method="post" action="{% url 'notes:register' %}">
                    
                    {% csrf_token %}
                    
                    <div class="pt-6 text-base flex flex-col items-center space-y-4">
                        {% if errors %}
                        <div class="bg-red-500 font-semibold text-white rounded-lg p-2">{{ errors }}</div>
                        {% endif %}

                        <input class="w-full bg-white border-black rounded-lg border-2 p-2 text-black font-medium"
                        type="text" name="username" placeholder="Username"/>

                        <input class="w-full bg-white border-black rounded-lg border-2 p-2 text-black font-medium"
                        type="password" name="password" placeholder="Password"/>

                        <input class="p-2 bg-blue-500 text-base text-white font-bold rounded-lg "
                        type="submit" name="submit" value="Sign-in" />
                    </div>
                </form>
            {% /Card_parent %}
        {% endif %}
    </div>
    
{% endblock %}